form, input{
    border: none;
    outline: no;
}

.input-contenedor{
  display: flex;
  /* gap: 10px */
  background-color: var(--blanco);
  border-radius: 50px;
  width: 90%;
  padding: 5px;
  margin-top: 50px;
}

.text__input{
    width: 100%;
    font-size: 1em;
}

/* .text__input::placeholder{
    color: var(--purple);
    } */
    
.text__input:focus{
    outline: none;
    border: none;
}

.text__input, .btn{
    padding: 10px;
    /* border-radius: 10px; */
    border-radius: 50px;
    border: none;
}

.btn{
    /* background-color: var(--ligth_purple); */
    width: 30%;
    font-weight: 500;
    
    
    /* background: linear-gradient(270deg, var(--pastel_Pink), var(--pastel_Blue)
    , var(--soft_Lilac));
    background-size: 600% 600%;
    animation: animateBackground 10s ease infinite; */
}

/* @keyframes animateBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
} */


/* .btn:hover{
    background-color: var(--violet);
} */


.card{
    border-radius: 10px;
    margin-top: 10px;
    height: auto;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-body img{
    width: 120px;
    box-shadow: 0 0 5px #bebebe;
    transition: all ease;
}

.card-body p{
    margin-top: 10px;
}


.card-body img:hover{
    transform: scale(1.10);
    box-shadow: 0 0 8px #a8a8a8;
}

.btn_detalles{
    width: 45%;
}

.container{
    margin-top: 90px;
}


@media screen and (min-width:1000px){
   
    .header-section{
    
        margin-bottom: 150px;
    }
       
    .main-container{
        width: 60%;
        margin: auto;
        font-size: 1.2em;
       
    }
    
    .input-contenedor{
        width: 75%;
        margin-top: 100px;
    }

    .card{
        height: 150px;
    }
    .card-body img {
        margin-left: 50px;
    }
           
    .card-body p {
        margin-right: 180px;
    }
       
    .card-body{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 5px;
    }
}